services:
  web:
    build: .
    command: gunicorn art_crm.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - ./media:/app/media
      - static_volume:/app/staticfiles
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  nginx:
    image: nginx:alpine
    ports:
      - "3562:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
      - ./media:/app/media
    depends_on:
      - web

volumes:
  pgdata:
  static_volume:
