    {{ all_info }}
        <div class="card">
            <div class="card-header">
                Общий бюджет: <strong>300 000₽</strong>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Уже потрачено: <strong>80 000₽</strong></li>
                    <li class="list-group-item">Запланированные траты: <strong>70 000₽</strong></li>
                    <li class="list-group-item">Текущий баланс: <strong>220 000₽</strong></li>
                    <li class="list-group-item">Остаток за вычетом запланированного: <strong>150 000₽</strong></li>
                    <li class="list-group-item">Дней осталось в месяце: <strong>10</strong></li>
                    <li class="list-group-item">Денег в день: <strong>15 000₽</strong></li>
                </ul>
            </div>
            <div class="card-footer text-muted">
                test
            </div>
        </div>